
table, th, td{
    border: 2px solid;
}
.fun{
    border-collapse: collapse;

}
td{
    text-align: center;
}
th{
    text-align: left;
    background-color: pink;

}
th,td{
    padding: 15px;
    text-align: left;
    border: none;
    border-bottom: 3px solid #ddd;
}
.nun{
    border-collapse: collapse;
}